body {
    margin: 60px auto;
    width: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #EDEDED;
    font-family: 'Overpass', sans-serif;
}

nav ul, footer ul {
    font-family: 'Overpass', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #519DD9;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
}

code {
    font-size: 1.2em;
    font-family: 'Courier', serif;
    line-height: 1.2em;
    color: gray;
}

ul {
    font-size: 1.5em;
    line-height: 1.4em;
}

indent {
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 40px
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.4em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.column {
    float: left;
    width: 45%;
    padding-right: 5%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}