body {
    margin: 60px auto;
    width: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right ,rgb(208, 229, 238), rgb(233, 240, 252), rgb(174, 218, 236));
}
nav ul, footer ul {
    font-family: 'Inter', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(95, 138, 230);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 2em;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 1.5em;
    font-family: 'Overpass', sans-serif;
    line-height: 1.4em;
    color: rgb(51, 48, 0);
}

ul {
    font-size: 1.5em;
    font-family: 'Overpass', sans-serif;
    line-height: 1.4em;
    color: rgb(51, 48, 0);
}

indent {
    font-size: 0.8em;
    font-family: 'Overpass', sans-serif;
    line-height: 1.4em;
    color: rgb(51, 48, 0);
    margin-left: 40px
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.4em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
