<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Inter:wght@600&display=swap" rel="stylesheet">
			<script src="https://kit.fontawesome.com/8e46e5fbcb.js" crossorigin="anonymous"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
					<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<a href="mailto:xuchujun2672@gmail.com"><i class="fas fa-envelope"></i></a>
					<a href="https://github.com/xu-jerry"><i class="fab fa-github-square"></i></a>
					<a href="https://www.facebook.com/jerry.xu.92505"><i class="fab fa-facebook-square"></i></a>
					<a href="https://www.instagram.com/jerrywhojerryxu/"><i class="fab fa-instagram-square"></i></a>
					<a href="https://www.linkedin.com/in/chujun-jerry-xu-3712331ab/"><i class="fab fa-linkedin"></i></a>
				</ul>
			</footer>
		</body>
	</html>
