<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Inter:wght@600&display=swap" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
					<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:xuchujun2672@gmail.com">email</a></li>
	        		<li><a href="https://github.com/xu-jerry">github.com/xu-jerry</a></li>
				</ul>
			</footer>
		</body>
	</html>
